<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Gastro Koçak Handel | Admin Dashboard</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/admin/assets/css/select2.min.css">
    <link rel="stylesheet" href="/admin/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/admin/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/admin/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/admin/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/admin/assets/plugins/feather/feather.css">
	<link rel="stylesheet" href="/admin/assets/css/ckeditor.css">
    <link rel="stylesheet" href="/admin/assets/css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <%- include('./sidebar.ejs') %>
        <%- include('./header.ejs') %>     
        
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 m-auto">
                        <div class="content-page-header">
							<h5>Neuen Arbeiter hinzufügen</h5>
                        </div>
                        <form action="/admin/setup/add-new-worker" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
										<label>Name</label>
                                        <input type="text" class="form-control" name="name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
										<label>Nachname</label>
                                        <input type="text" class="form-control" name="surname" required>
                                    </div>
                                </div>
                                <!--
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="location-set mb-0">
                                            <div class="row align-items-center">
                                                <div class="col-lg-12 col-12">
                                                    <div class="form-group mb-0">
                                                        <label>Available Services</label>
                                                        <select class="select" name="services[]" multiple="multiple">
                                                            <% services.forEach((service) => { %>
                                                                <option value="<%= service._id %>"><%= service.serviceName %></option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->    
                                <div class="col-lg-6">
                                    <div class="form-group">
										<label>Kalenderfarbe</label>
                                        <select name="workerColor" id="" class="select select2" required>
                                            <option value="" selected disabled>Wähle Farbe</option>
     <option value="#518ff1">Blau</option>
<option value="#f15151">Rot</option>
<option value="#59f151">Grün</option>
<option value="#f1a151">Orange</option>
<option value="#f1e951">Gelb</option>	
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
										<label>Verfügbarkeit</label>
                                        <select name="availability" id="" class="select select2" required>
                                            <option value="" selected disabled>Verfügbarkeit</option>
                                            <option value="Available">Verfügbar</option>
                                            <option value="Unavailable">Nicht verfügbar</option>
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" name="businessID" value="<%= business._id%>" id="businessID">
                                <div class="content w-100">
                                    <div class="content-page-header">
										<h5>Arbeitszeiten</h5>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="social-info">
                                                <div class="social-cont row align-items-center">
                                                    <% const daysOfWeek = ['Montag', 'Dienstag','Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sonntag']; %>
                                                    <% daysOfWeek.forEach((day, index) => { %>
                                                      <div class="row align-items-center">
                                                        <div class="col-lg-3 col-sm-12 col-12">
                                                          <div class="form-group">
                                                            <p class="fw-semibold"><strong><%= day %></strong></p>
                                                          </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-12 col-6">
                                                          <div class="form-group">
                                                            <label class="fw-bold">Start</label>
                                                            <input type="time" name="startTime[<%= index %>][]" class="form-control" id="startTime<%= index %>"  >
                                                          </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-12 col-6">
                                                          <div class="form-group">
                                                            <label class="fw-bold">Ende</label>
                                                            <input type="time" name="endTime[<%= index %>][]" class="form-control" id="endTime<%= index %>" >
                                                          </div>
                                                        </div>
                                                        <div class="col-lg-1 col-6 mt-2">
                                                          <input type="checkbox" class="offday-check" name="offdayCheckbox" value="on" id="offdayCheckbox<%= index %>" onchange="updateHiddenInput(<%= index %>)">
                                                          <label class="ml-2"> Ruhetag</label>
                                                          <input type="hidden" name="offday[<%= index %>][]" value="off" id="offdayvalue<%= index %>" >
                                                        </div>
                                                        <div class="col-lg-2 col-6">
                                                          <a href="" class="link-sets add add-shift-button" data-day="<%= index %>">
                                                            <i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Schicht hinzufügen
                                                          </a>
                                                        </div>
                                                      </div>
                                                      <hr>
                                                    <% }); %>
                                                    <script>
                                                      function updateUtcOffset() {
                                                        const zurichDate = new Date();
                                                        zurichDate.setHours(0, 0, 0, 0);
                                                        zurichDate.setMonth(6); 
                                                        const zurichUtcOffset = zurichDate.getTimezoneOffset() === -120 ? 2 : 1;
                                                        return zurichUtcOffset;
                                                      }

                                                      function getUtcTime(endTime) {
                                                        const zurichUtcOffset = updateUtcOffset();
                                                        const utcTime = new Date(`2000-01-01T${endTime}:00.000Z`);
                                                        utcTime.setHours(utcTime.getHours() - zurichUtcOffset);
                                                        const utcTimeString = utcTime.toISOString().slice(11, 16);
                                                      }

                                                      setInterval(updateUtcOffset, 24 * 60 * 60 * 1000); 
                                                      getUtcTime('19:00');

                                                      function isDaylightSavingTimeInZurich() {
                                                        const zurichDate = new Date();
                                                        zurichDate.setHours(0, 0, 0, 0);
                                                        zurichDate.setMonth(6);
                                                        return zurichDate.getTimezoneOffset() === -120;
                                                      }

                                                      const isDaylightSavingTime = isDaylightSavingTimeInZurich();
                                                      console.log("Is Daylight Saving Time in Zurich:", isDaylightSavingTime);
                                                      function getDisplayTime(time, isDaylightSavingTime) {
                                                        const zurichUtcOffset = isDaylightSavingTime ? 2 : 1;
                                                        const utcTime = new Date(`2000-01-01T${time}:00.000Z`);
                                                        console.log('Input Time:', time);
                                                        console.log('UTC Time:', utcTime);

                                                        utcTime.setHours(utcTime.getHours() - zurichUtcOffset);
                                                        const displayTimeString = utcTime.toISOString().slice(11, 16);
                                                        return displayTimeString;
                                                      }

                                                      const result = getDisplayTime('19:00', true);
                                                      console.log('Result:', result);
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="col-lg-12">
                                    <div class="btn-path">                                    
                                        <button type="submit" class="btn btn-submit "> Einreichen</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <script src="/admin/assets/js/jquery-3.6.4.min.js"></script>
    <script src="/admin/assets/js/select2.min.js"></script>
    <script src="/admin/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>
    <script src="/admin/assets/js/feather.min.js"></script>
    <script src="/admin/assets/js/jquery.dataTables.min.js"></script>
    <script src="/admin/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin/assets/js/ckeditor.js"></script>
    <script src="/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/admin/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="/admin/assets/plugins/sweetalert/sweetalerts.min.js"></script>
    <script src="/admin/assets/js/admin.js"></script>
    <script>
      $(document).ready(function () {
        $('.add').on('click', function (e) {
          e.preventDefault();
          const dayIndex = $(this).data('day');
          const newShiftHtml = `
          <div class="row align-items-center times" >
            <div class="col-lg-3 col-sm-12">
              <div class="form-group">
                <p class="fw-semibold"><strong></strong></p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-6">
              <div class="form-group">
                <label class="fw-bold">Start</label>
                <input type="time" name="startTime[${dayIndex}][]" class="form-control"   >
              </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-5" style="padding-left:20px;">
              <div class="form-group">
                <label class="fw-bold">Ende</label>
                <input type="time" name="endTime[${dayIndex}][]" class="form-control" >
              </div>
            </div>
            <div class="col-lg-1 col-1">
              <a href="#" class=" ms-2 del"><i class="fe fe-trash-2"></i></a>
            </div>
            <div class="col-lg-1 mt-2" style="display:none;">
            <input type="checkbox" class="offday-check" name="offdayCheckbox" value="on" id="offdayCheckbox${dayIndex}" onchange="updateHiddenInput${dayIndex}">
            <label class="ml-2"> Ruhetag</label>
            <input type="hidden" name="offday[${dayIndex}][]" value="off" id="offdayvalue${dayIndex}" >
        </div>
            <div class="col-lg-2"></div>
          </div>`;
          $(this).closest('.row').after(newShiftHtml);
        });
        $(document).on('click', '.del', function (e) {
          e.preventDefault();
          $(this).closest('.times').remove();
        });
        $(document).on('change', '.offday-check', function () {
      var index = $(this).data('index');
      updateHiddenInput(index);
    });
      });

      function updateHiddenInput(index) {
        var checkbox = document.getElementById('offdayCheckbox' + index);
        var hiddenInput = document.getElementById('offdayvalue' + index);
        var startTimeInput = document.getElementById('startTime' + index);
        var endTimeInput = document.getElementById('endTime' + index);
        var addShiftButton = $('.add-shift-button[data-day="' + index + '"]');

        if (checkbox.checked) {
          hiddenInput.value = "on";    
          startTimeInput.value = "";
          endTimeInput.value = "";
          startTimeInput.readOnly = true;
          endTimeInput.readOnly = true;
          addShiftButton.hide();
        } else {
          hiddenInput.value = "off";
          startTimeInput.readOnly = false;
          endTimeInput.readOnly = false;
          addShiftButton.show();
        }
      }          
    </script>
</body>
</html>