<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Gastro Koçak Handel | Admin Dashboard</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/admin/assets/css/select2.min.css">
    <link rel="stylesheet" href="/admin/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/admin/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/admin/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/admin/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" href="/admin/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/admin/assets/plugins/feather/feather.css">
    <link rel="stylesheet" href="/admin/assets/css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <%- include('./sidebar.ejs') %>
        <%- include('./header.ejs') %>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <h2 class="p-4" style=" font-size: 16px; line-height: 2; ">Sie können den Store für <strong style="font-weight: 700;"><%= business.businessName%></strong> über dieses Dashboard einrichten. Nachdem Sie alles eingerichtet haben, gehen Sie zu <a href="/admin/setup/settings/" id="settingsLink"><u>Einstellungen (Sie können hier klicken)</u></a>, um den Geschäftsstatus in zu ändern Aktiv, damit der Shop online gehen und für den Verkauf auf Me-Time bereit sein kann.</h2>
                                    <!--
                                    <div class="row">
                                        <div class="home-head-user home-graph-header col-lg-10 col-8">
                                            <h2>Top 10 Services Sold</h2>
                                        </div>
                                        <form id="form1" class="col-lg-2 col-4 p-1 ">
                                            <input type="button" value="Export PDF" id="btnPrintService" class="btn btn-primary" style="width:100%"/>
                                        </form>
                                    </div>
                                    <div class="table-responsive " id="popService" style="display: none;">
                                        <table class=" " style="font-size: 8px !important;">
                                            <thead>
                                                <tr style="text-align: left;">
                                                    <th>Service Name</th>
                                                    <th>Business Name</th>
                                                    <th>Quantity</th>
                                                    <th>Amount</th>
                                                    <th>Earning</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: 8px !important;">
                                                    <% 
                                                    if (services && services.length > 0) { 
                                                        services.sort((a, b) => b.totalQuantity - a.totalQuantity);
                                                        const top10Services = services.slice(0, 10);
                                                        top10Services.forEach((service, index) => { 
                                                    %>
                                                    <%
                                                    const commision =service.totalPrice *businessCommision.commisionRate/100;
                                                    const earnedAmount=service.totalPrice- commision;
                                                    %>
                                                    <tr style="border-bottom: 1px solid #d5d5d5;">
                                                        <td width="200px"><%= service.name %></td>
                                                        <td width="200px"><%= service.businessName %></td>
                                                        <td width="100px"><%= service.totalQuantity %></td>
                                                        <td width="100px">CHF <%= parseFloat(service.totalPrice).toFixed(2) %></td>
                                                        <td width="100px">CHF <%= parseFloat(earnedAmount).toFixed(2) %></td>
                                                    </tr>
                                                <%  });  } else {  %>
                                                    <tr>
                                                        <td colspan="4">Keine Daten in der Tabelle verfügbar</td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-responsive datatable-nofooter">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th>Service Name</th>
                                                    <th>Business Name</th>
                                                    <th>Quantity</th>
                                                    <th>Amount</th>
                                                    <th>Earning</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% 
                                                if (services && services.length > 0) { 
                                                    services.sort((a, b) => b.totalQuantity - a.totalQuantity);
                                                    const top10Services = services.slice(0, 10);
                                                    top10Services.forEach((service, index) => { 
                                                %>
                                                <%
                                                    const commision =service.totalPrice *businessCommision.commisionRate/100;
                                                    const earnedAmount=service.totalPrice- commision;
                                                    %>
                                                        <tr>
                                                            <td><%= service.name %></td>
                                                            <td><%= service.businessName %></td>
                                                            <td><%= service.totalQuantity %></td>
                                                            <td>CHF <%= parseFloat(service.totalPrice).toFixed(2) %></td>
                                                            <td>CHF <%= parseFloat(earnedAmount).toFixed(2) %></td>
                                                        </tr>
                                                    <% }); %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="4">Keine Daten in der Tabelle verfügbar</td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-lg-12 col-sm-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="row">
                                        <div class="home-head-user home-graph-header col-lg-10 col-8">
                                            <h2>Top 10 Products Sold</h2>
                                        </div>
                                        <form id="form1" class="col-lg-2 p-1  col-4">
                                            <input type="button" value="Export PDF" id="btnPrintProduct" class="btn btn-primary"  style="width:100%"/>
                                        </form>
                                    </div>
                                    <div class="table-responsive " id="popProduct" style="display: none;">
                                        <table class=" " style="font-size: 8px !important;">
                                            <thead>
                                                <tr style="text-align: left;">
                                                    <th>Product Name</th>
                                                    <th>Business Name</th>
                                                    <th onclick="sortTable('totalQuantity')">Qty</th>
                                                    <th>Amount</th>
                                                    <th>Earning</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: 8px !important;">
                                                    <% 
                                                    if (products && products.length > 0) { 
                                                        products.sort((a, b) => b.totalQuantity - a.totalQuantity);
                                                        const top10Products = products.slice(0, 10);
                                                        top10Products.forEach((product, index) => { 
                                                    %>
                                                    <%
                                                    const commision =product.totalPrice *businessCommision.commisionRate/100;
                                                    const earnedAmount=product.totalPrice- commision;
                                                    %>
                                                    <tr style="border-bottom: 1px solid #d5d5d5;">
                                                        <td width="200px"><%= product.name %></td>
                                                        <td width="200px"><%= product.businessName %></td>
                                                        <td width="100px"><%= product.totalQuantity %></td>
                                                        <td width="100px">CHF <%= parseFloat(product.totalPrice).toFixed(2) %></td>
                                                        <td width="100px">CHF <%= parseFloat(earnedAmount).toFixed(2) %></td>
                                                    </tr>
                                                    
                                                <% 
                                                    }); 
                                                } else { 
                                                %>
                                                    <tr>
                                                        <td colspan="4">Keine Daten in der Tabelle verfügbar</td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-responsive datatable-nofooter">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Product Name</th>
                                                    <th>Business Name</th>
                                                    <th>Quantity</th>
                                                    <th>Amount</th>
                                                    <th>Earning</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% 
                                                    if (products && products.length > 0) { 
                                                        products.sort((a, b) => b.totalQuantity - a.totalQuantity);
                                                        const top10Products = products.slice(0, 10);
                                                        top10Products.forEach((product, index) => { 
                                                    %>
                                                    <%
                                                    const commision =product.totalPrice *businessCommision.commisionRate/100;
                                                    const earnedAmount=product.totalPrice- commision;
                                                    %>
                                                        <tr>
                                                            <td><%= product.name %></td>
                                                            <td><%= product.businessName %></td>
                                                            <td><%= product.totalQuantity %></td>
                                                            <td>CHF <%= parseFloat(product.totalPrice).toFixed(2) %></td>
                                                            <td>CHF <%= parseFloat(earnedAmount).toFixed(2) %></td>
                                                            
                                                        </tr>
                                                    <% }); %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="4">Keine Daten in der Tabelle verfügbar</td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div> 
    </div>
    <div id="overlayer">
        <span class="loader">
        <span class="loader-inner"></span>
        </span>
    </div>
    <script src="/admin/assets/js/jquery-3.6.4.min.js"></script>
    <script src="/admin/assets/js/select2.min.js"></script>
    <script src="/admin/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="/admin/assets/plugins/apexchart/chart-data.js"></script>
    <script src="/admin/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/feather.min.js"></script>
    <script src="/admin/assets/js/jquery.dataTables.min.js"></script>
    <script src="/admin/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/admin/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/admin/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
    <script src="/admin/assets/plugins/jvectormap/jquery-jvectormap-ru-mill.js"></script>
    <script src="/admin/assets/plugins/jvectormap/jquery-jvectormap-us-aea.js"></script>
    <script src="/admin/assets/plugins/jvectormap/jquery-jvectormap-uk_countries-mill.js"></script>        
    <script src="/admin/assets/plugins/jvectormap/jquery-jvectormap-in-mill.js"></script>
    <script src="/admin/assets/js/jvectormap.js"></script>
    <script src="/admin/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="/admin/assets/plugins/sweetalert/sweetalerts.min.js"></script>
    <script src="/admin/assets/js/admin.js"></script>
</body>
</html>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function exportToPrint(divId, title) {
        var divContents = $("#" + divId).html();
        var printWindow = window.open('', '', 'height=400,width=1000');
        var today = new Date();
        var dateString = today.getDate() + '.' + (today.getMonth() + 1); // Format as MM.DD

        printWindow.document.write('<html><head><title>' + title + '_' + dateString + '</title>');
        printWindow.document.write('<link rel="stylesheet" type="text/css" href="/admin/assets/css/select2.min.css">');
        printWindow.document.write('<link rel="stylesheet" type="text/css" href="/admin/assets/plugins/bootstrap/css/bootstrap.min.css">');
        printWindow.document.write('<link rel="stylesheet" type="text/css" href="/admin/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">');
        printWindow.document.write('<link rel="stylesheet" type="text/css" href="/admin/assets/plugins/fontawesome/css/all.min.css">');
        printWindow.document.write('<link rel="stylesheet" type="text/css" href="/admin/assets/css/dataTables.bootstrap4.min.css">');
        printWindow.document.write('<link rel="stylesheet" type="text/css" href="/admin/assets/css/style.css">');
        printWindow.document.write('</head><body style="font-size:8px">');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }

    // Export Services
	 $(document).on("click", "#btnPrintService", function () {
    	exportToPrint("popService", "Top Services");
	});
	//Export Products
	$(document).on("click", "#btnPrintProduct", function () {
    	exportToPrint("popProduct", "Top Products");
	});
</script>
<script>
    var currentURL = window.location.href;
    var urlParts = currentURL.split('/');
    var dynamicID = urlParts[urlParts.length - 1];
    var settingsLink = document.getElementById('settingsLink');
    var originalHref = settingsLink.getAttribute('href');
    settingsLink.setAttribute('href', originalHref + dynamicID);
</script>
<body>
