<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Gastro Koçak Handel GmbH | Alles für Ihr Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/fonts/font-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet"type="text/css" href="/css/styles.css"/>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="favicon.png">
</head>
<body class="preload-wrapper">
    <div class="preload preload-container">
        <div class="preload-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <div id="wrapper">
        <%- include('./partials/header.ejs') %>
        <div class="w-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2698.2897861067067!2d8.435070176359227!3d47.44529037117541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900cc8c4ba682d%3A0x7c3eac1abbbc8f7b!2zSMO8dHRlbndpZXNlbnN0cmFzc2UgMjksIDgxMDggRMOkbGxpa29uLCDEsHN2acOncmU!5e0!3m2!1str!2str!4v1728912595729!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <section class="flat-spacing-21">
            <div class="container">
                <div class="tf-grid-layout gap30 lg-col-2">
                    <% business.forEach((business, index) => { %>
                    <div class="tf-content-left">
                        <h5 class="mb_20">Kontakt Informationen</h5>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Adresse</strong></p>
                            <p><%- business.businessName %> <br> <%- business.businessStreet %> <%- business.businessNr %>, <br> <%- business.businessPostcode %> <%- business.businessOrt %></p>
                        </div>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Tel</strong></p>
                            <p><%- business.businessTel %></p>
                        </div>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Email</strong></p>
                            <p><%- business.businessMail %></p>
                        </div>
                        <div class="mb_36">
                            <p class="mb_15"><strong>Öffnungszeiten</strong></p>
                            <p class="mb_15"><%- business.businessHour %></p>
                        </div>
                    </div>
                    <% }); %> 
                    <div class="tf-content-right">
                        <h5 class="mb_20">Nehmen Sie Kontakt auf</h5>
                        <p class="mb_24">Bitte senden Sie Ihre Wünsche und Anliegen. Unser Team wird sich so schnell wie möglich mit Ihnen in Verbindung setzen.</p>
                        <div>
                            <form class="form-contact" id="contactform" action="./contact/contact-process.php" method="post">
                                <div class="d-flex gap-15 mb_15">
                                    <fieldset class="w-100">
                                        <input type="text" name="name" id="name" required placeholder="Name *"/>
                                    </fieldset>
                                    <fieldset class="w-100">
                                        <input type="email" name="email" id="email" required placeholder="Email *"/>
                                    </fieldset>
                                </div>
                                <div class="mb_15">
                                    <textarea placeholder="Nachricht" name="message" id="message" required cols="30" rows="10"></textarea>
                                </div>
                                <div class="send-wrap">
                                    <button type="submit" class="tf-btn w-100 radius-3 btn-fill animate-hover-btn justify-content-center">Senden</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./partials/footer.ejs') %>
    </div>
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;"></path>
        </svg>
    </div>
    <%- include('./partials/mobilebar.ejs') %>
    <%- include('./partials/search.ejs') %>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/js/carousel.js"></script>
    <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/js/lazysize.min.js"></script>
    <script type="text/javascript" src="/js/count-down.js"></script>   
    <script type="text/javascript" src="/js/wow.min.js"></script>   
    <script type="text/javascript" src="/js/jquery-validate.js"></script>   
    <script type="text/javascript" src="/js/multiple-modal.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>