<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Gastro Koçak Handel GmbH | Alles für Ihr Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="fonts/font-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet"type="text/css" href="css/styles.css"/>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="favicon.png">
</head>
<body class="preload-wrapper">
    <div id="wrapper">
        <%- include('./partials/header.ejs') %>
        <div class="tf-page-title">
            <div class="container-full">
                <div class="heading text-center">Passwort ändern</div>
            </div>
        </div>
        <section class="flat-spacing-11">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <ul class="my-account-nav">
                            <li><a href="/dashboard" class="my-account-nav-item ">Armaturenbrett</a></li>
                            <li><a href="/order-history" class="my-account-nav-item">Bestellungen</a></li>
                            <li><a href="/user-address" class="my-account-nav-item">Adressdetails</a></li>
                            <li><a href="/user-account" class="my-account-nav-item">Kontodetails</a></li>
                            <li><a class="my-account-nav-item active">Passwort ändern</a></li>
                            <li><a href="/logout" class="my-account-nav-item">Abmelden</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <div class="my-account-content account-edit">
                            <div class="">
                                <form class="" id="form-password-change" action="/password" method="post">
                                    <% if (passwordError && passwordError.trim() !== '') { %>
                                        <div class="alert alert-danger">
                                          <%= passwordError %>
                                        </div>
                                    <% } %>
                                    <div class="tf-field style-1 mb_30">
                                        <input class="tf-field-input tf-input" placeholder=" " type="password" id="property4" name="current_password" required>
                                        <label class="tf-field-label fw-4 text_black-2" for="property4">Aktuelles Passwort</label>
                                    </div>
                                    <div class="tf-field style-1 mb_30">
                                        <input class="tf-field-input tf-input" placeholder=" " type="password" id="property5" name="new_password_one" required>
                                        <label class="tf-field-label fw-4 text_black-2" for="property5">Neues Kennwort</label>
                                    </div>
                                    <div class="tf-field style-1 mb_30">
                                        <input class="tf-field-input tf-input" placeholder=" " type="password" id="property6" name="new_password_two" required>
                                        <label class="tf-field-label fw-4 text_black-2" for="property6">Neues Passwort bestätigen</label>
                                    </div>
                                    <div class="mb_20">
                                        <button type="submit" class="tf-btn w-100 radius-3 btn-fill animate-hover-btn justify-content-center">Speichern</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./partials/footer.ejs') %>
    </div>
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;"></path>
        </svg>
    </div>
    <%- include('./partials/basket.ejs') %>
    <%- include('./partials/mobilebar.ejs') %>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="js/carousel.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/lazysize.min.js"></script>
    <script type="text/javascript" src="js/count-down.js"></script>   
    <script type="text/javascript" src="js/wow.min.js"></script>   
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/multiple-modal.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>